<!DOCTYPE html>
<html>
  <head>
    <title>Dialectic Journal</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://kit.fontawesome.com/54697ea06b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Faculty+Glyphic&family=Grenze+Gotisch:wght@100..900&family=Inspiration&family=Lavishly+Yours&family=Pirata+One&family=Tangerine:wght@400;700&display=swap"
      rel="stylesheet"
    >
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/navbar" %>
      <div id="flash">
        <%= render "shared/flashes" %>
      </div>
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
    <% unless controller_name == "pages" && action_name == "dashboard" %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
